<ul class="calendar">
  <% days.each do |day| -%>
    <li>
      <div class="date"><%= link_to day.date, day %></div>
      <div class="count"><%= pluralize day.count, 'egg' %></div>
    </li>
  <% end -%>
</ul>
