<h1>Eggs</h1>

<% if editor_request?(request.remote_ip) -%>
  <%= render 'form', day_to_edit: @day -%>
  <p class="chart-placeholder">
    <button onClick="this.remove(); showChart()">show chart</button>
  </p>
<% else -%>
  <% content_for :foot do -%>
    <script>
     $('document').ready(function() { showChart(); });
    </script>
  <% end -%>
<% end -%>

<%= render 'chart' -%>

<%= render 'list', days: @days, modified_day: (Day.find_by_id(params["modified"]) || nil) -%>
