/*
 *= require_self
 *= require_tree .
 */

.calendar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.75em;
}

.calendar .month {
  display: inline-block;
  vertical-align: top;
}

.calendar .month ul {
  display: inline-block;
}

.calendar .month li {
  white-space: nowrap;
}

.calendar .month .date:after {
  content: ':\a0';
}
