/*
 *= require_self
 *= require_tree .
 */

#chart {
  border: 1px solid black;
}

ul.calendar {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.calendar li {
  float: left;
  font-size: 0.7em;
  width: 8em;
  height: 8em;
  background-color: #ddd;
  text-align: center;
}

ul.calendar li:nth-child(even) {
  background-color: #eee;
}

ul.calendar li div {
  overflow: visible;
}
